<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/style/style.css" type="text/css">
  <link rel="stylesheet" href="../static/style/responsivo.css" type="text/css">
  <title>Datrel</title>
</head>

<body>
  <!-- Cabeçalho -->
  <header>
    <div class="header">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand " href="#"><img class="img-nav"src="../static/imagens/logo-datrel.svg"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link " href="#">Sobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Produtos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Assistências</a>
              </li>
              <li class="nav-item">
                <a onclick="buttonDiana()" class="nav-link" href="#">Diana</a>
              </li>
          
            </ul>
          </div>
        </div>
      

          </div>
   
                
        </div>
      </nav>

    </div>
  </header>
  <!-- Fim Cabeçalho -->

  <section class="text-center">
    <!-- Sobre -->
    <div id="sobre">
      <div id="sobre-corpo">
        <img src="../static/imagens/logo-branco.svg" class="img">
        <p>A empresa DATREL PERIFÉRICOS, surgiu em 1987, do sonho de seu fundador, Mauro José de Sá, um jovem estudante
          que havia montado uma empresa com outros quatro jovens amigos, no fundo do escritório do pai de um deles, onde
          tal empresa funcionaria por um determinado tempo. Passam-se os anos, tal empresa cresce e se transforma em
          três unidades fabris, e o seu sócio majoritário, o Mauro, resolve alçar novos voos solo, onde funda a empresa
          DATREL, na cidade de Marília/SP e em 1995, muda a sede para a cidade de Garça/SP, onde funciona no Distrito
          Industrial.<br><br>
          Neste mesmo ano funda a Master Audio, onde seu sócio e fundador fica até março/2012. A partir daí dando
          continuidade a seu projeto original que seria a DATREL PERIFÉRICOS, que surgiu da aquisição dos ativos da
          empresa VOXMAN, do seu amigo Caio. Agora a empresa de roupagem nova e em busca de novos horizontes, surge como
          mais um nome forte no mercado de áudio brasileiro, devido à experiência de seu sócio e fundador, com mais de
          25 anos no mercado de áudio. </p>
      </div>
      <div class="box">
        <div><svg class="icon-flutuante" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path fill="#23297A"
              d="M465 7c-9.4-9.4-24.6-9.4-33.9 0L383 55c-2.4 2.4-4.3 5.3-5.5 8.5l-15.4 41-77.5 77.6c-45.1-29.4-99.3-30.2-131 1.6c-11 11-18 24.6-21.4 39.6c-3.7 16.6-19.1 30.7-36.1 31.6c-25.6 1.3-49.3 10.7-67.3 28.6C-16 328.4-7.6 409.4 47.5 464.5s136.1 63.5 180.9 18.7c17.9-17.9 27.4-41.7 28.6-67.3c.9-17 15-32.3 31.6-36.1c15-3.4 28.6-10.5 39.6-21.4c31.8-31.8 31-85.9 1.6-131l77.6-77.6 41-15.4c3.2-1.2 6.1-3.1 8.5-5.5l48-48c9.4-9.4 9.4-24.6 0-33.9L465 7zM208 256a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
          </svg></div>
        <div><svg class="icon-flutuante" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="#23297A"
              d="M499.1 6.3c8.1 6 12.9 15.6 12.9 25.7l0 72 0 264c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L448 147 192 223.8 192 432c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L128 200l0-72c0-14.1 9.3-26.6 22.8-30.7l320-96c9.7-2.9 20.2-1.1 28.3 5z" />
          </svg></div>
        <div><svg class="icon-flutuante" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path fill="#23297A"
              d="M465 7c-9.4-9.4-24.6-9.4-33.9 0L383 55c-2.4 2.4-4.3 5.3-5.5 8.5l-15.4 41-77.5 77.6c-45.1-29.4-99.3-30.2-131 1.6c-11 11-18 24.6-21.4 39.6c-3.7 16.6-19.1 30.7-36.1 31.6c-25.6 1.3-49.3 10.7-67.3 28.6C-16 328.4-7.6 409.4 47.5 464.5s136.1 63.5 180.9 18.7c17.9-17.9 27.4-41.7 28.6-67.3c.9-17 15-32.3 31.6-36.1c15-3.4 28.6-10.5 39.6-21.4c31.8-31.8 31-85.9 1.6-131l77.6-77.6 41-15.4c3.2-1.2 6.1-3.1 8.5-5.5l48-48c9.4-9.4 9.4-24.6 0-33.9L465 7zM208 256a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
          </svg></div>
        <div><svg class="icon-flutuante" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="#23297A"
              d="M499.1 6.3c8.1 6 12.9 15.6 12.9 25.7l0 72 0 264c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L448 147 192 223.8 192 432c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L128 200l0-72c0-14.1 9.3-26.6 22.8-30.7l320-96c9.7-2.9 20.2-1.1 28.3 5z" />
          </svg></div>
        <div><svg class="icon-flutuante" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="#23297A"
              d="M499.1 6.3c8.1 6 12.9 15.6 12.9 25.7l0 72 0 264c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L448 147 192 223.8 192 432c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L128 200l0-72c0-14.1 9.3-26.6 22.8-30.7l320-96c9.7-2.9 20.2-1.1 28.3 5z" />
          </svg></div>
        <div><svg class="icon-flutuante" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path fill="#23297A"
              d="M465 7c-9.4-9.4-24.6-9.4-33.9 0L383 55c-2.4 2.4-4.3 5.3-5.5 8.5l-15.4 41-77.5 77.6c-45.1-29.4-99.3-30.2-131 1.6c-11 11-18 24.6-21.4 39.6c-3.7 16.6-19.1 30.7-36.1 31.6c-25.6 1.3-49.3 10.7-67.3 28.6C-16 328.4-7.6 409.4 47.5 464.5s136.1 63.5 180.9 18.7c17.9-17.9 27.4-41.7 28.6-67.3c.9-17 15-32.3 31.6-36.1c15-3.4 28.6-10.5 39.6-21.4c31.8-31.8 31-85.9 1.6-131l77.6-77.6 41-15.4c3.2-1.2 6.1-3.1 8.5-5.5l48-48c9.4-9.4 9.4-24.6 0-33.9L465 7zM208 256a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
          </svg></div>
        <div><svg  class="icon-flutuante" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="#23297A"
              d="M499.1 6.3c8.1 6 12.9 15.6 12.9 25.7l0 72 0 264c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L448 147 192 223.8 192 432c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L128 200l0-72c0-14.1 9.3-26.6 22.8-30.7l320-96c9.7-2.9 20.2-1.1 28.3 5z" />
          </svg></div>
        <div><svg class="icon-flutuante" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="#23297A"
              d="M499.1 6.3c8.1 6 12.9 15.6 12.9 25.7l0 72 0 264c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L448 147 192 223.8 192 432c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L128 200l0-72c0-14.1 9.3-26.6 22.8-30.7l320-96c9.7-2.9 20.2-1.1 28.3 5z" />
          </svg></div>
        <div><svg class="icon-flutuante" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="#23297A"
              d="M499.1 6.3c8.1 6 12.9 15.6 12.9 25.7l0 72 0 264c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L448 147 192 223.8 192 432c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L128 200l0-72c0-14.1 9.3-26.6 22.8-30.7l320-96c9.7-2.9 20.2-1.1 28.3 5z" />
          </svg></div>
        <div><svg class="icon-flutuante" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path fill="#23297A"
              d="M465 7c-9.4-9.4-24.6-9.4-33.9 0L383 55c-2.4 2.4-4.3 5.3-5.5 8.5l-15.4 41-77.5 77.6c-45.1-29.4-99.3-30.2-131 1.6c-11 11-18 24.6-21.4 39.6c-3.7 16.6-19.1 30.7-36.1 31.6c-25.6 1.3-49.3 10.7-67.3 28.6C-16 328.4-7.6 409.4 47.5 464.5s136.1 63.5 180.9 18.7c17.9-17.9 27.4-41.7 28.6-67.3c.9-17 15-32.3 31.6-36.1c15-3.4 28.6-10.5 39.6-21.4c31.8-31.8 31-85.9 1.6-131l77.6-77.6 41-15.4c3.2-1.2 6.1-3.1 8.5-5.5l48-48c9.4-9.4 9.4-24.6 0-33.9L465 7zM208 256a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
          </svg></div>
        <div><svg class="icon-flutuante" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="#23297A"
              d="M499.1 6.3c8.1 6 12.9 15.6 12.9 25.7l0 72 0 264c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L448 147 192 223.8 192 432c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L128 200l0-72c0-14.1 9.3-26.6 22.8-30.7l320-96c9.7-2.9 20.2-1.1 28.3 5z" />
          </svg></div>
        <div><svg class="icon-flutuante" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="#23297A"
              d="M499.1 6.3c8.1 6 12.9 15.6 12.9 25.7l0 72 0 264c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L448 147 192 223.8 192 432c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L128 200l0-72c0-14.1 9.3-26.6 22.8-30.7l320-96c9.7-2.9 20.2-1.1 28.3 5z" />
          </svg></div>
        <div><svg class="icon-flutuante"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="#23297A"
              d="M499.1 6.3c8.1 6 12.9 15.6 12.9 25.7l0 72 0 264c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L448 147 192 223.8 192 432c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L128 200l0-72c0-14.1 9.3-26.6 22.8-30.7l320-96c9.7-2.9 20.2-1.1 28.3 5z" />
          </svg></div>
        <div><svg class="icon-flutuante" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="#23297A"
              d="M499.1 6.3c8.1 6 12.9 15.6 12.9 25.7l0 72 0 264c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L448 147 192 223.8 192 432c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L128 200l0-72c0-14.1 9.3-26.6 22.8-30.7l320-96c9.7-2.9 20.2-1.1 28.3 5z" />
          </svg></div>
        <div><svg class="icon-flutuante" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="#23297A"
              d="M499.1 6.3c8.1 6 12.9 15.6 12.9 25.7l0 72 0 264c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L448 147 192 223.8 192 432c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L128 200l0-72c0-14.1 9.3-26.6 22.8-30.7l320-96c9.7-2.9 20.2-1.1 28.3 5z" />
          </svg></div>
      </div>
    </div>
    <!-- Fim de Sobre  -->

    <!-- Produtos -->
    <div>
      <div id="produtos-inicio">
        <h3 class="titulo hidden" id="catalogo">Catálogo</h3>
        <h2 class="hidden" id="titulo-produtos">Nossos Produtos</h2>
        <span class="hidden" id="linha"></span>
      </div>
      <div class="d-flex justify-content-center">
        <div id="tamanho-tela" class="d-flex justify-content-around flex-wrap">
          <div class="div-produtos hidden" id="produto_01">
            <a href="#"><img class="img-produtos" src="../static/imagens/catalogo/1.png"></a>
          </div>
          <div class="div-produtos hidden" id="produto_02">
            <a href="#"><img class="img-produtos" src="../static/imagens/catalogo/2.png"></a>
          </div>
          <div class="div-produtos hidden" id="produto_03">
            <a href="#"><img class="img-produtos" src="../static/imagens/catalogo/3.png"></a>
          </div>
          <div class="div-produtos hidden" id="produto_04">
            <a href="#"><img class="img-produtos" src="../static/imagens/catalogo/4.png"></a>
          </div>
          <div class="div-produtos hidden" id="produto_05">
            <a href="#"><img class="img-produtos" src="../static/imagens/catalogo/5.png"></a>
          </div>
          <div class="div-produtos hidden" id="produto_06">
            <a href="#"><img class="img-produtos" src="../static/imagens/catalogo/6.png"></a>
          </div>
          <div class="div-produtos hidden" id="produto_07">
            <a href="#"><img class="img-produtos" src="../static/imagens/catalogo/7.png"></a>
          </div>
          <div class="div-produtos hidden" id="produto_08">
            <a href="#"><img class="img-produtos" src="../static/imagens/catalogo/8.png"></a>
          </div>
          <div class="div-produtos hidden" id="produto_09">
            <a href="#"><img class="img-produtos" src="../static/imagens/catalogo/9.png"></a>
          </div>
          <div class="div-produtos hidden" id="produto_10">
            <a href="#"><img class="img-produtos" src="../static/imagens/catalogo/10.png"></a>
          </div>
          <div class="div-produtos hidden" id="produto_11">
            <a href="#"><img class="img-produtos" src="../static/imagens/catalogo/11.png"></a>
          </div>
          <div class="div-produtos hidden" id="produto_12">
            <a href="#"><img class="img-produtos" src="../static/imagens/catalogo/12.png"></a>
          </div>
        </div>

      </div>
    </div>
    <!-- Fim de Produtos -->

    <!-- Area  Assistências -->
  
    <div id="assistencias">
      <hr>
      <div id="texto-assistencia">
        <h3>Assistencias Técnicas</h3>  
      
          <div>
        
            <p>Selecione Sua Região</p>
            <div style="display: flex; justify-content:center;">
              <div class="linha_assistencia"></div>
              </div>    
           
            <div id="texto_botoes_assistencias">
              <div class="button-div">
                <button class="botao_regiao" id="botao_centro_oeste" value="centro_oeste" onclick="botao_centro_oeste_click()"></button>
                <span id="text-button-regiao" class="text-region">Centro oeste</span>
                <span class="icon-button" id="icon-button"><img class="img-icon" style="--altura:120px" src="../static/imagens/regioes/centro_oeste.png"></span>
              </div>
              
              <div class="button-div">
                <button  class="botao_regiao" id="botao_sudeste" value="sudeste" onclick="botao_sudeste_click()"></button>
                <span id="text-button-sudeste" class="text-region">Sudeste</span>
                <span class="icon-button" id="icon-button-sudeste"><img class="img-icon" style="--altura:130px" src="../static/imagens/regioes/sudeste.png"></span>
              </div>

              <div class="button-div">
                <button class="botao_regiao" id="botao_norte" value="norte" onclick="botao_norte_click()"></button>
                <span id="text-button-norte" class="text-region">Norte</span>
                <span class="icon-button" id="icon-button-norte"><img class="img-icon" style="--altura:150px" src="../static/imagens/regioes/norte.png"></span>
              </div>

              <div class="button-div">
                <button class="botao_regiao" id="botao_nordeste" value="nordeste" onclick="botao_nordeste_click()"></button>
                <span id="text-button-nordeste" class="text-region">Nordeste</span>
                <span class="icon-button" id="icon-button-nordeste"><img class="img-icon" style="--altura:110px" src="../static/imagens/regioes/nordeste.png"></span>
              </div>

              <div class="button-div">
                <button class="botao_regiao" id="botao_sul" value="sul" onclick="botao_sul_click()"></button>
                <span id="text-button-sul" class="text-region">Sul</span>
                <span class="icon-button" id="icon-button-sul"><img class="img-icon" style="--altura:120px" src="../static/imagens/regioes/sul.png"></span>
              </div>
             
             
              
              
            </div>
          </div>




       
      </div>

      <div id="fundo-carrosel">
        <div style="display: flex; justify-content: center;">
       
        </div>  
        <div id="carrosel_todos" class="carousel slide">
          <div class="carousel-inner">
            <!-- O codigo em python para adicionar os itens começara possivelmente a partir daqui -->
            <div id="todos">
              {% for item in range(unido.nomes|length)%}
                <div id="todos">
                  <div class="carousel-item {% if item == 0 %}active{% endif %}">
                    <div class="card">
                      <div class="card-corpo">
                       <div class="card-all">
                        
                              <div class="card-map">
                                {{unido.tags[item]|safe}}
                              </div>

                              <div class="card-text">
                                <p class="card-title">{{ unido.nomes[item] }}</p>
                                <div class="card-line"></div>
                                <p class="card-p"><i class="fa-solid fa-map icone-card"></i>{{ unido.cidades[item] }}</p>
                                <p class="card-p"><i class="fa-solid fa-phone icone-card"></i>{{ unido.telefones[item] }}</p>
                                  <div class="card-imagens-div">
                                    <img src="../static/imagens/lojas/{{random.randint(1,7)}}.jpeg" alt="" class="card-image">
                                    <img src="../static/imagens/lojas/{{random.randint(1,7)}}.jpeg" alt="" class="card-image">
                                  </div>
                              </div>

                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            {%endfor%}   
          </div> 
           </div>
            <div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carrosel_todos"
              data-bs-slide="prev"  >
              <span class="carousel-control-prev-icon " aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carrosel_todos"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          </div>

          <div id="carrosel_centro_oeste" class="carousel slide some">
          <div class="carousel-inner">
            <!-- O codigo em python para adicionar os itens começara possivelmente a partir daqui -->
            <div id="centro_oeste">
              {% for item in range(centro_oeste.nomes|length)%}
                <div id="todos">
                  <div class="carousel-item {% if item == 0 %}active{% endif %}">
                    <div class="card">

                      <div class="card-corpo">

                        <div class="card-all">
                        
                          <div class="card-map">
                            {{centro_oeste.tags[item]|safe}}
                          </div>

                          <div class="card-text">
                            <p class="card-title">{{ centro_oeste.nomes[item] }}</p>
                            <div class="card-line"></div>
                            <p class="card-p"><i class="fa-solid fa-map icone-card"></i>{{ centro_oeste.cidades[item] }}</p>
                            <p class="card-p"><i class="fa-solid fa-phone icone-card"></i>{{ centro_oeste.telefones[item] }}</p>
                              <div class="card-imagens-div">
                                <img src="../static/imagens/lojas/{{random.randint(1,7)}}.jpeg" alt="" class="card-image">
                                <img src="../static/imagens/lojas/{{random.randint(1,7)}}.jpeg" alt="" class="card-image">
                              </div>
                          </div>

                    </div>
                      </div>

                    </div>  
                  </div>
              </div>
            {%endfor%}   
           </div> 
           </div>
            <div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carrosel_centro_oeste"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carrosel_centro_oeste"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          </div>

          <div id="carrosel_sudeste" class="carousel slide some">
            <div class="carousel-inner">
              <!-- O codigo em python para adicionar os itens começara possivelmente a partir daqui -->
              <div id="sudeste">
                {% for item in range(sudeste.nomes|length)%}
                  <div id="todos">
                    <div class="carousel-item {% if item == 0 %}active{% endif %}">
                      <div class="card">
                        <div class="card-corpo">
                          
                          <div class="card-all">
                        
                            <div class="card-map">
                              {{sudeste.tags[item]|safe}}
                            </div>

                            <div class="card-text">
                              <p class="card-title">{{ sudeste.nomes[item] }}</p>
                              <div class="card-line"></div>
                              <p class="card-p"><i class="fa-solid fa-map icone-card"></i>{{ sudeste.cidades[item] }}</p>
                              <p class="card-p"><i class="fa-solid fa-phone icone-card"></i>{{ sudeste.telefones[item] }}</p>
                                <div class="card-imagens-div">
                                  <img src="../static/imagens/lojas/{{random.randint(1,7)}}.jpeg" alt="" class="card-image">
                                  <img src="../static/imagens/lojas/{{random.randint(1,7)}}.jpeg" alt="" class="card-image">
                                </div>
                            </div>

                      </div>

                        </div>
                      </div>
                    </div>
                </div>
              {%endfor%}   
             </div> 
             </div>
              <div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carrosel_sudeste"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carrosel_sudeste"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          
          <div id="carrosel_norte" class="carousel slide some">
            <div class="carousel-inner">
              <!-- O codigo em python para adicionar os itens começara possivelmente a partir daqui -->
              <div id="todos">
                {% for item in range(norte.nomes|length)%}
                  <div id="todos">
                    <div class="carousel-item {% if item == 0 %}active{% endif %}">
                      <div class="card">
                        <div class="card-corpo">
                          <div class="card-all">
                        
                            <div class="card-map">
                              {{norte.tags[item]|safe}}
                            </div>

                            <div class="card-text">
                              <p class="card-title">{{ norte.nomes[item] }}</p>
                              <div class="card-line"></div>
                              <p class="card-p"><i class="fa-solid fa-map icone-card"></i>{{ norte.cidades[item] }}</p>
                              <p class="card-p"><i class="fa-solid fa-phone icone-card"></i>{{ norte.telefones[item] }}</p>
                                <div class="card-imagens-div">
                                  <img src="../static/imagens/lojas/{{random.randint(1,7)}}.jpeg" alt="" class="card-image">
                                  <img src="../static/imagens/lojas/{{random.randint(1,7)}}.jpeg" alt="" class="card-image">
                                </div>
                            </div>

                      </div>
                        </div>
                      </div>
                    </div>
                </div>
              {%endfor%}   
             </div> 
             </div>
              <div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carrosel_norte"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carrosel_norte"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

          <div id="carrosel_nordeste" class="carousel slide some">
            <div class="carousel-inner">
              <!-- O codigo em python para adicionar os itens começara possivelmente a partir daqui -->
              <div id="todos">
                {% for item in range(nordeste.nomes|length)%}
                  <div id="todos">
                    <div class="carousel-item {% if item == 0 %}active{% endif %}">
                      <div class="card">
                        <div class="card-corpo">
                          <div class="card-all">
                        
                            <div class="card-map">
                              {{nordeste.tags[item]|safe}}
                            </div>

                            <div class="card-text">
                              <p class="card-title">{{ nordeste.nomes[item] }}</p>
                              <div class="card-line"></div>
                              <p class="card-p"><i class="fa-solid fa-map icone-card"></i>{{ nordeste.cidades[item] }}</p>
                              <p class="card-p"><i class="fa-solid fa-phone icone-card"></i>{{ nordeste.telefones[item] }}</p>
                                <div class="card-imagens-div">
                                  <img src="../static/imagens/lojas/{{random.randint(1,7)}}.jpeg" alt="" class="card-image">
                                  <img src="../static/imagens/lojas/{{random.randint(1,7)}}.jpeg" alt="" class="card-image">
                                </div>
                            </div>

                      </div>
                        </div>
                      </div>
                    </div>
                </div>
              {%endfor%}   
             </div> 
             </div>
              <div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carrosel_nordeste"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carrosel_nordeste"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

          <div id="carrosel_sul" class="carousel slide some">
            <div class="carousel-inner">
              <!-- O codigo em python para adicionar os itens começara possivelmente a partir daqui -->
              <div id="todos">
                {% for item in range(sul.nomes|length)%}
                  <div id="todos">
                    <div class="carousel-item {% if item == 0 %}active{% endif %}">
                      <div class="card">
                        <div class="card-corpo">
                          <div class="card-all">
                        
                            <div class="card-map">
                              {{sul.tags[item]|safe}}
                            </div>

                            <div class="card-text">
                              <p class="card-title">{{ sul.nomes[item] }}</p>
                              <div class="card-line"></div>
                              <p class="card-p"><i class="fa-solid fa-map icone-card"></i>{{ sul.cidades[item] }}</p>
                              <p class="card-p"><i class="fa-solid fa-phone icone-card"></i>{{ sul.telefones[item] }}</p>
                                <div class="card-imagens-div">
                                  <img src="../static/imagens/lojas/{{random.randint(1,7)}}.jpeg" alt="" class="card-image">
                                  <img src="../static/imagens/lojas/{{random.randint(1,7)}}.jpeg" alt="" class="card-image">
                                </div>
                            </div>

                      </div>  
                        </div>
                      </div>
                    </div>
                </div>
              {%endfor%}   
             </div> 
             </div>
              <div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carrosel_sul"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carrosel_sul"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Fim de assistencias -->

    <!-- Começo do Chat-->
    
        
          <div id="coze_div">
            <script src="https://sf-cdn.coze.com/obj/unpkg-va/flow-platform/chat-app-sdk/0.1.0-beta.5/libs/oversea/index.js"></script>
      <script>
        const title = 'Diana';
        const icon = '../static/imagens/diana.jpg';
          new CozeWebSDK.WebChatClient({
           
            
            config: {
              bot_id: '7410861302660775941',
              
            },
            componentProps: {
              title,
              icon,
            },
          });
      </script>
          </div>
      
          <!-- Coze -->
        
          <!--Fim Coze-->
     
    <!-- Final Do Chat-->
  </section>

  <footer>
    <div>
    <div class="div_footer">
    <div>
      <img class="logo_footer" src="../static/imagens/logo-branco.svg" alt="logo Branco">
    </div>
    <div>
        <ul class="lista-footer">
          <li class="item-footer">
            <a class="link-footer" href="#">Sobre</a>
          </li>
          <li class="item-footer">
            <a class="link-footer" href="#">Produtos</a>
          </li>
          <li class="item-footer">
            <a class="link-footer" href="#">Assistências</a>
          </li>
          <li class="item-footer">
            <a class="link-footer" href="#">Orçamento</a>
          </li>
        </ul>
    </div>
      <div>
          <ul class="lista-footer">
            <li class="li-icone-footer">
              <a class="link-footer" href="#">
                <i id="icone-footer" class="fa-brands fa-instagram branco"></i>
              </a>
            </li>
            <li>
              <a class="link-footer" href="#">
                <i id="icone-footer" class="fa-brands fa-facebook branco"></i>
              </a>
            </li>
            <li>
              <a class="link-footer" href="#">
                <i id="icone-footer" class="fa-brands fa-whatsapp branco"></i>
              </a>
            </li>
          </ul>
          </div>
        </div>
      
          
          <hr class="linha_footer"></hr>
          
        
          <div class="baixo-footer">
            <p>&#169; Datrel Periféricos. Todos os direitos Reservados
            
            <p>Protótipo para Inovaskill 2024 </p>
          </div>
          
        
  </footer>

  

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/7cbeed6b47.js" crossorigin="anonymous"></script>

  <script>
    
    var count = 0 
    function aparecer_mensagem(){
      const div_mensagem = document.getElementById('mensagem_login');
      div_mensagem.classList.remove('some');
      setTimeout(sumir_mensagem,3000);
    };

    function sumir_mensagem(){
      const div_mensagem = document.getElementById('mensagem_login');
      div_mensagem.classList.add('some');
    }
    
    
    const icons = document.querySelectorAll(".fa-brands")
    
    icons.forEach(icon => {
    icon.addEventListener('mouseover',function(){
      icon.classList.add("fa-bounce");
    });
    icon.addEventListener('mouseout',function(){
      icon.classList.remove("fa-bounce");
    });
  });
    

  const botao_sul = document.getElementById("botao_sul");
  const botao_sudeste = document.getElementById("botao_sudeste");
  const botao_nordeste = document.getElementById("botao_nordeste");
  const botao_norte = document.getElementById("botao_norte");
  const botao_centro_oeste = document.getElementById('botao_centro_oeste');

  const texto_botao = document.getElementById("text-button-regiao");
  const icon_regiao = document.getElementById("icon-button");

  const texto_botao_nordeste = document.getElementById("text-button-nordeste");
  const icon_regiao_nordeste = document.getElementById("icon-button-nordeste");
  
  const texto_botao_sudeste = document.getElementById("text-button-sudeste");
  const icon_regiao_sudeste = document.getElementById("icon-button-sudeste");
  
  const texto_botao_norte = document.getElementById("text-button-norte");
  const icon_regiao_norte = document.getElementById("icon-button-norte");
  
  const texto_botao_sul = document.getElementById("text-button-sul");
  const icon_regiao_sul = document.getElementById("icon-button-sul");
  
  botao_centro_oeste.addEventListener('mouseover',function(){
    icon_regiao.classList.remove("sumir-icon");
    icon_regiao.classList.add("aparecer");
    texto_botao.classList.add("sumir");
  });
  botao_centro_oeste.addEventListener('mouseout',function(){
    icon_regiao.classList.remove("aparecer");
    icon_regiao.classList.add("sumir-icon");
    texto_botao.classList.remove("sumir")
    texto_botao.classList.add("aparecer");
  });
 // Nordeste
  botao_nordeste.addEventListener('mouseover',function(){
    icon_regiao_nordeste.classList.remove("sumir-icon");
    icon_regiao_nordeste.classList.add("aparecer");
    texto_botao_nordeste.classList.add("sumir");
  });
  botao_nordeste.addEventListener('mouseout',function(){
    icon_regiao_nordeste.classList.remove("aparecer");
    icon_regiao_nordeste.classList.add("sumir-icon");
    texto_botao_nordeste.classList.remove("sumir")
    texto_botao_nordeste.classList.add("aparecer");
  });
  //Sudeste
  botao_sudeste.addEventListener('mouseover',function(){
    icon_regiao_sudeste.classList.remove("sumir-icon");
    icon_regiao_sudeste.classList.add("aparecer");
    texto_botao_sudeste.classList.add("sumir");
  });
  botao_sudeste.addEventListener('mouseout',function(){
    icon_regiao_sudeste.classList.remove("aparecer");
    icon_regiao_sudeste.classList.add("sumir-icon");
    texto_botao_sudeste.classList.remove("sumir")
    texto_botao_sudeste.classList.add("aparecer");
  });
  //Norte
  botao_norte.addEventListener('mouseover',function(){
    icon_regiao_norte.classList.remove("sumir-icon");
    icon_regiao_norte.classList.add("aparecer");
    texto_botao_norte.classList.add("sumir");
  });
  botao_norte.addEventListener('mouseout',function(){
    icon_regiao_norte.classList.remove("aparecer");
    icon_regiao_norte.classList.add("sumir-icon");
    texto_botao_norte.classList.remove("sumir")
    texto_botao_norte.classList.add("aparecer");
  });
  //Sul
  botao_sul.addEventListener('mouseover',function(){
    icon_regiao_sul.classList.remove("sumir-icon");
    icon_regiao_sul.classList.add("aparecer");
    texto_botao_sul.classList.add("sumir");
  });
  botao_sul.addEventListener('mouseout',function(){
    icon_regiao_sul.classList.remove("aparecer");
    icon_regiao_sul.classList.add("sumir-icon");
    texto_botao_sul.classList.remove("sumir")
    texto_botao_sul.classList.add("aparecer");
  });

  </script>

  <script>
    const div_todos = document.getElementById("carrosel_todos");
    const div_centro_oeste = document.getElementById("carrosel_centro_oeste");
    const div_sudeste = document.getElementById("carrosel_sudeste");
    const div_norte = document.getElementById("carrosel_norte");
    const div_sul = document.getElementById("carrosel_sul");
    const div_nordeste = document.getElementById("carrosel_nordeste");

   
 
    

   
    function botao_centro_oeste_click(){

      

      div_centro_oeste.classList.remove("some");

      div_todos.classList.add("some");
      div_sudeste.classList.add("some");
      div_sul.classList.add("some");
      div_nordeste.classList.add("some");
      div_norte.classList.add("some");

     
      botao_centro_oeste.classList.add("clicado");

      botao_nordeste.classList.remove("clicado");
      botao_norte.classList.remove("clicado");
      botao_sul.classList.remove("clicado");
      botao_sudeste.classList.remove("clicado");
    };
    function botao_sudeste_click(){
      div_sudeste.classList.remove("some");

      div_todos.classList.add("some");
      div_centro_oeste.classList.add("some");
      div_sul.classList.add("some");
      div_nordeste.classList.add("some");
      div_norte.classList.add("some");


      botao_sudeste.classList.add("clicado");

      botao_nordeste.classList.remove("clicado");
      botao_norte.classList.remove("clicado");
      botao_sul.classList.remove("clicado");
      botao_centro_oeste.classList.remove("clicado");
    };
    function botao_norte_click(){
      div_norte.classList.remove("some");

      div_todos.classList.add("some");
      div_sudeste.classList.add("some");
      div_sul.classList.add("some");
      div_nordeste.classList.add("some");
      div_centro_oeste.classList.add("some");


      botao_norte.classList.add("clicado");

      botao_nordeste.classList.remove("clicado");
      botao_centro_oeste.classList.remove("clicado");
      botao_sul.classList.remove("clicado");
      botao_sudeste.classList.remove("clicado");
    };
    function botao_nordeste_click(){
      div_nordeste.classList.remove("some");

      div_todos.classList.add("some");
      div_centro_oeste.classList.add("some");
      div_sul.classList.add("some");
      div_sudeste.classList.add("some");
      div_norte.classList.add("some");


      botao_nordeste.classList.add("clicado");

      botao_centro_oeste.classList.remove("clicado");
      botao_norte.classList.remove("clicado");
      botao_sul.classList.remove("clicado");
      botao_sudeste.classList.remove("clicado");
    };
    function botao_sul_click(){
      div_sul.classList.remove("some");

      div_todos.classList.add("some");
      div_centro_oeste.classList.add("some");
      div_sudeste.classList.add("some");
      div_nordeste.classList.add("some");
      div_norte.classList.add("some");

      botao_sul.classList.add("clicado");

      botao_nordeste.classList.remove("clicado");
      botao_norte.classList.remove("clicado");
      botao_centro_oeste.classList.remove("clicado");
      botao_sudeste.classList.remove("clicado");
    };
    


    const diana = document.querySelector(".fda3723591e0b38e7e52");
    
    function buttonDiana(){
      
   
      diana.style.transform = "scale(150%)"
      
      setTimeout(()=> {
        diana.style.transform = "scale(100%)";
      },1000);
      
    }

    


    </script>

  <!-- Efeito de Animação com scroll  -->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const titulo_menor = document.getElementById("catalogo")
      const titulo_produtos = document.getElementById('titulo-produtos');
      const linha_produtos = document.getElementById('linha');
      const produto01 = document.getElementById("produto_01");
      const produto02 = document.getElementById("produto_02");
      const produto03 = document.getElementById("produto_03");
      const produto04 = document.getElementById("produto_04");
      const produto05 = document.getElementById("produto_05");
      const produto06 = document.getElementById("produto_06");
      const produto07 = document.getElementById("produto_07");
      const produto08 = document.getElementById("produto_08");
      const produto09 = document.getElementById("produto_09");
      const produto10 = document.getElementById("produto_10");
      const produto11 = document.getElementById("produto_11");
      const produto12 = document.getElementById("produto_12");
      // FEITO ENTRE AS COXAS PRECISO MELHORAR ISSO
      const handleScroll = () => {
        if (window.scrollY >= 200) {
          titulo_produtos.classList.add('aparecer');
          titulo_produtos.classList.remove('hidden');
          linha_produtos.classList.add('aparecer');
          linha_produtos.classList.remove('hidden');
          titulo_menor.classList.remove('hidden');
          titulo_menor.classList.add('aparecer');

        }
        if (window.scrollY >= 400) {
          produto01.classList.remove('hidden');
          produto02.classList.remove('hidden');
          produto03.classList.remove('hidden');

          produto01.classList.add('aparecer');
          produto02.classList.add('aparecer');
          produto03.classList.add('aparecer');
        }
        if (window.scrollY >= 700) {
          produto04.classList.remove('hidden');
          produto05.classList.remove('hidden');
          produto06.classList.remove('hidden');

          produto04.classList.add('aparecer');
          produto05.classList.add('aparecer');
          produto06.classList.add('aparecer');
        }
        if (window.scrollY >= 1000) {
          produto07.classList.remove('hidden');
          produto08.classList.remove('hidden');
          produto09.classList.remove('hidden');

          produto07.classList.add('aparecer');
          produto08.classList.add('aparecer');
          produto09.classList.add('aparecer');
        }
        if (window.scrollY >= 1300) {
          produto10.classList.remove('hidden');
          produto11.classList.remove('hidden');
          produto12.classList.remove('hidden');

          produto10.classList.add('aparecer');
          produto11.classList.add('aparecer');
          produto12.classList.add('aparecer');
        }
      };
      window.addEventListener('scroll', handleScroll);
    });

  </script>

  <!-- Script das notas musicais da area sobre -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const boxes = document.querySelectorAll('.box div');
      const boxWidth = document.querySelector('.box').offsetWidth;
      const boxHeight = document.querySelector('.box').offsetHeight;

      boxes.forEach((box, index) => {
        // Posição Random
        const randomLeft = Math.random() * (boxWidth - 50);
        const randomTop = Math.random() * (boxHeight - 50);

        box.style.left = `${randomLeft}px`;
        box.style.top = '95%'

        // Duração random 
        const randomDuration = Math.random() * 10 + 4;
        box.style.animationDuration = `${randomDuration}s`;
      });
    });
  </script>
  <script>
    var logado = false;
    const imagem_block = document.querySelector('.img-block');
    if (logado === true){
      imagem_block.classList.add('some');
    }
      
    
  </script>

</body>

</html>