<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/style/style.css" type="text/css">
  <link rel="stylesheet" href="../static/style/login_cadastro.css" type="text/css">
  <title>Datrel Reformed</title>
</head>

<body>
  <!-- Cabeçalho -->
  <header>
    <div class="header">
      <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid d-flex justify-content-between align-items-center">
          <a class="navbar-brand" href="#"><img class="img" src="../static/imagens/logo-datrel.svg" alt="Logo"></a>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Sobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Produtos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Assistências</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Orçamento</a>
              </li>
            </ul>


          </div>
          <button class="btn btn-primary">Login</button>
        </div>
      </nav>

    </div>
  </header>
  <!-- Fim Cabeçalho -->

  <section>
    <div id='pagina_login'>
        <h1>Pagina de Login </h1>
        <div>
            <form class="forms-login" type="submit" method="POST" action="{{url_for('logar')}}">
                <input type="email" name="email" placeholder="E-mail">
               
            

                <input type='password' name="senha" placeholder="Senha">
             

                <input class="btn-logar"type="submit" value="Logar">
            </form>

        </div> 
    </div>
    <div id="pagina_cadastro" class="some">
        <h1>Pagina de cadastro </h2>
            <div>
                <form class="forms-cadastrar" type="submit" method="POST" action="{{url_for('cadastrar')}}">
                  
                   <input type="hidden" name="value" value="1">
                  
                  <div>
                     <input type="text" name="nome" placeholder="Nome">
                     <input type="number" name="CEP" placeholder="CEP">
                    </div>

                    <div>
                      <input type="number" name="telefone" placeholder="Telefone">
                      <input type="email" name="email" placeholder="E-mail">
                    </div>
                    
                    <div>
                      <input type='password' name="senha" placeholder="Senha">
                      <input type='password' name="confirmar_senha" placeholder="Confirmar Senha">
                    </div>

                    
                      <input class="btn-cadastrar" type="submit" value="Cadastrar" name="cadastrar">
                    
                  </form>
            </div>
    </div>
    
    <input type="checkbox" name="login" onchange="change()" checked>
        <label id="label_cadastro" for="login">Login</label>

    <!--Div de cadastro-->
 
  </section>
    <footer>
    <div>
    <div class="div_footer">
    <div>
      <img class="logo_footer" src="../static/imagens/logo-branco.svg" alt="logo Branco">
    </div>
    <div>
        <ul class="lista-footer">
          <li class="item-footer">
            <a class="link-footer" href="#">Sobre</a>
          </li>
          <li class="item-footer">
            <a class="link-footer" href="#">Produtos</a>
          </li>
          <li class="item-footer">
            <a class="link-footer" href="#">Assistências</a>
          </li>
          <li class="item-footer">
            <a class="link-footer" href="#">Orçamento</a>
          </li>
        </ul>
    </div>
      <div>
          <ul class="lista-footer">
            <li class="li-icone-footer">
              <a class="link-footer" href="#">
                <i class="fa-brands fa-instagram branco"></i>
              </a>
            </li>
            <li>
              <a class="link-footer" href="#">
                <i class="fa-brands fa-facebook branco"></i>
              </a>
            </li>
            <li>
              <a class="link-footer" href="#">
                <i class="fa-brands fa-whatsapp branco"></i>
              </a>
            </li>
          </ul>
          </div>
        </div>
      
          
          <hr class="linha_footer"></hr>
          
        
          <div class="baixo-footer">
            <p>&#169; Datrel Periféricos. Todos os direitos Reservados
            
            <p>Protótipo para Inovaskill 2024 </p>
          </div>
  </footer>


  <script src="https://kit.fontawesome.com/7cbeed6b47.js" crossorigin="anonymous"></script>
  <script>
    function change(){
        var checkbox = document.querySelector('[name="login"]');
        var label = document.getElementById('label_cadastro');
        const login = document.getElementById('pagina_login');
        const cadastro = document.getElementById('pagina_cadastro');
    if (checkbox.checked){
        label.textContent = 'login';
        login.style.display = 'flex';
        cadastro.style.display = 'none'
    } else if (checkbox.checked === false){
        label.textContent = 'cadastro';
        login.style.display = 'none';
        cadastro.style.display = "flex";
    }
    }
    
    const icons = document.querySelectorAll(".fa-brands")
    
    icons.forEach(icon => {
    icon.addEventListener('mouseover',function(){
      icon.classList.add("fa-bounce");
    });
    icon.addEventListener('mouseout',function(){
      icon.classList.remove("fa-bounce");
    });
  }); 
  </script>
</body>

</html>